body {font-family: "Arial", sans-serif}
.mySlides {display: none}

h1 {
	font-size: 96px;
	font-weight: bold;
}

h3 {
	color: black;
}

b {
	color: black;
}

h9 {
	font-size: 52px;
	font-weight: bold;
}
